:root{
    --background: #F0F5F9;
    --font-color: black;
    --tool-color: #ECF1F4;
}
html{
    font-size: 10px;
    font-family: 'Inter', sans-serif;
    color: var(--font-color);
    user-select: none;
}
body{
    background-color: var(--background);
    overflow: hidden;
}
svg{
    max-width: 18rem;
    height: auto;
    margin: 1rem 0rem 1rem 1rem;
    display: inline-block;
}
header h2{
    display: inline-block;
    font-size: 1.8rem;
    margin: auto;
    vertical-align: top;
    margin-top: 4rem;
    font-weight: 400;
}
.time-and-scramble #scramble{
    font-size: clamp(3rem, 4vw, 6rem);
    text-align: center;
    margin: 3rem;
    font-weight: 600;
}
.time-and-scramble #timer{
    font-size: clamp(6rem, 4vw, 11rem);
    margin: 0;
    margin-top: 6rem;
    text-align: center;
}
.tools{
    display: flex;
    width: 100%;
    height: 50vh;
    position: absolute;
    justify-content: space-evenly;
    bottom: 0;
}
.tools div{
    background-color: var(--tool-color);
    margin-bottom: 2rem;
    margin-top: 4rem;
    border-radius: 2rem;
    border: 0.1rem solid black;
    bottom: 0;
    width: 30%;
    box-shadow: var(--tool-color) 8px -8px 0px -1px, black 8px -8px;
}

#myCanvas{
    width: 100%;
    height: 100%;
}

table {
    margin: 0 auto;
    margin-top: 1rem;
    border-collapse: collapse;
    width: 90%;

}
th, td {
    padding: 0.8rem;
    text-align: center;
}
th{
    top: 0;
    border-bottom: 0.1rem solid #4B4B4B;
}
td{
    border-bottom: 0.1rem solid #8A8383;
    height: 5rem;
}
.table{
    font-size: 3rem;
    overflow-y:scroll;
}
.table {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.table::-webkit-scrollbar { 
    display: none;
}