html{
    font-size: 10px;
    font-family: 'Outfit', sans-serif;
    user-select: none;
}
body{
    padding: 0;
    margin: 2rem;
    margin-left: 0;
    background: rgb(255,243,207);
    background: linear-gradient(45deg, rgba(255,243,207,1) 0%, rgba(254,238,255,1) 100%); 
}

.eye-catcher{
    display: flex;
    box-sizing: border-box;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
    width: 100dvw;
    margin-left: 0.1rem;
    
}

.title{
    margin: 0;
    writing-mode: tb-rl;
    transform: rotate(-180deg);

    font-size: 27vh;
    text-align: center;
    line-height: 90%;
}

.nav-bar{
    grid-column-start: 1;
    grid-column-end: 3;

    border: 2px solid black;
}

.container{
    border: 2px solid black;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;

    background: url("../assets/Dot\ Grid.svg"), #FFFFA7;
    background-size: contain;

    display: flex;
}

.container h1{
    font-size: 16vmin;
    margin: 5%;
    font-weight: 500;
    text-decoration: underline;
}

.container .text{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

.container .image{
    flex-basis: 50%;
}

.container .big-button{
    font-size: 4rem;
    background-color: white;
    box-shadow: 8px 8px 0 black;
    border: none;
    border-radius: 1rem;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    margin-top: auto;
    margin-left: 3rem;
    margin-bottom: 9rem;
    padding: 1rem;
    border: 2px solid black;
    width: 26vw;
    min-width: 37rem;
}

.container .image{
    background: url("../assets/Vector.svg");
    background-position: center;
    background-size: 70vh;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.image .box-preview{
    border-radius: 1rem;
    border: 0.4rem solid black;
    box-shadow: 0.8rem 0.8rem 0 black;
    width: fit-content;
    height: fit-content;
    padding: 7rem 0;
    background: url("../assets/Vector2.svg"), #5BFFA6;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5rem;
}

.image .box-preview img{
    width: 80%;
}

nav button{
    height: 100%;
    background: none;
    border: none;
    border: 0.2rem solid black;

    font-family: 'Roboto Mono', monospace;
    padding: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
    box-sizing: border-box;
    border-top: none;
    border-bottom: none;

    min-width: 22rem;
    width: 20vw;

    cursor: pointer;
    transition: all 0.2s;
}

nav button:nth-child(3){
    margin-right: -0.2rem;
    border-top-right-radius: 2rem;
}

nav button:nth-child(1){
    margin-left: -0.2rem;
    border-top-left-radius: 2rem;
    background-color: white;
}

nav .links{
    box-sizing: border-box;
    font-size: 2.5rem;
    font-weight: 400;
    display: flex;
    gap: 5rem;
}

nav .links a {
    color: inherit;
    text-decoration: none;
}

nav .links a {
    background:
        linear-gradient(
        to right,
        rgb(0, 0, 0),
        rgb(0, 0, 0)
        ),
        linear-gradient(0deg, rgb(102, 76, 4) 0%, rgb(126, 15, 5) 100%
    );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

nav .links a:hover {
    background-size: 0 2px, 100% 2px;
}

nav .links a{
    color: black;
    text-decoration: none;

}

nav button:hover{
    background-color: #D83F31;
    color: black;
}

.start-cubing{
    background-color: black;
    color: white;
}

.buttons{
    height: 100%;
    width: fit-content;

    display: flex;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: -0.2rem;
    align-items: center;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}

