@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.green{
    color: green;
}

.black{
    color: black;
}

.orange{
    color: orange;
}

.red{
    color: red;
}

.orange, .green, .black, .red{
    background-color: #90ee90;
    font-size: 4rem;
    font-weight: bold;
    padding: 0.75rem 1rem 0.1rem 1rem;
    border: 3px solid black;
    box-shadow: 4px 4px 0px black; 
    border-radius: 0.375rem;
    margin: 3rem 0;
    font-family: 'Courier Prime', monospace;
    text-align: baseline;
}