:root{
    --background: #F0F5F9;
    --font-color: black;
    --tool-color: #ECF1F4;
}
html{
    font-size: 10px;
    font-family: 'Inter', sans-serif;
    color: var(--font-color);
    user-select: none;
}
body{
    background-color: var(--background);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    overflow: hidden;
}
svg{
    width: 18rem;
    margin: 1rem 0rem 1rem 1rem;
    display: inline-block;
    fill: var(--font-color);
}
main{
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    width: min(160rem, 100%);
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;    
}

header h2{
    display: inline-block;
    font-size: 1.8rem;
    margin: auto;
    vertical-align: top;
    margin-top: 4rem;
    font-weight: 400;
}
.time-and-scramble #scramble{
    font-size: clamp(3rem, 4vw, 6rem);
    text-align: center;
    margin: 0;
    margin-top: 3rem;
    font-weight: 600;
    height: 13rem;
}
.time-and-scramble #timer{
    font-size: clamp(6rem, 6vw, 11rem);
    margin: 0;
    margin-top: 2rem;
    text-align: center;
    color: var(--font-color);
}
.tools{
    margin-top: auto;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-end;
}
.tools .tool-container{
    background-color: var(--tool-color);
    margin-top: 4rem;
    border-radius: 2rem;
    border: 0.1rem solid var(--font-color);
    width: 30%;
    box-shadow: var(--tool-color) 1.1rem -1.1rem 0rem -0.1rem, var(--font-color) 1.1rem -1.1rem;
    text-align: center;
    height: min(40vh, 40rem);
}

#draw-scramble{
    display: flex;
    align-items: center;
    justify-content: center;
}
#myCanvas{
    height: fit-content;
}


table {
    margin: 0 auto;
    margin-top: 1rem;
    border-collapse: collapse;
    width: 90%;
}
th, td {
    padding: 0.8rem;
    text-align: center;
}
th{
    top: 0;
    border-bottom: 0.1rem solid #4B4B4B;
}
td{
    border-bottom: 0.1rem solid #8A8383;
    height: 5rem;
}
#table-container{
    font-size: 2.5rem;
    overflow-y:scroll;
}
#table-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#table-container::-webkit-scrollbar { 
    display: none;
}

#last-scramble #scramble{
    font-size: 2.8rem;
    margin: 3rem;
}
#last-scramble #time{
    font-size: 8rem;
    margin: 0;
}
#last-scramble{
    display: flex;
    flex-direction: column;
}
#last-scramble #dialog-delete{
    background-color: #21272C;
    color: white;
    border: none;
    border: 0.1rem red solid;
    border-radius: 2rem;
    width: 15rem;
    height: 4rem;
    font-size: 2.1rem;
    cursor: pointer;
    transition: all 0.5s;
}
#last-scramble #dialog-delete:hover{
    background-color: red;
}
#last-scramble .buttons{
    margin-top: auto;
    margin-bottom: 2rem;
    display: flex;
    align-content: flex-end;
}



#dialog-canvas{
    background-color: transparent;
    padding: 0;
    margin: auto;
    display: block;
}
dialog{
    min-height: 70rem;
    max-width: 60rem;
    width: 100%;
    background-color: #202122;
    border: none;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.076) 1rem 1rem 1rem 0.5rem;
}
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.438);
}
#dialog-close{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    outline: none;
}
#dialog-header{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    align-items: center;
}
#dialog-date{
    color: #726B6B;
    font-size: 1.4rem;
    margin: 0;
}
#dialog-scramble{
    font-size: 3.2rem;
    margin: 2rem;
    margin-top: 4rem;
}
.time{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 2rem;
}
.time h4{
    font-size: 1.6rem;
    color: var(--font-color);
    margin: 1rem;
}
.time h1{
    font-size: 4.8rem;
    margin: auto;
    color: var(--font-color);
}
.time h2{
    font-size: 2.4rem;
    margin: auto;
}
.small-container{
    background-color: #2F3032;
    display: flex;
    border-radius: 1.5rem;
    max-width: 14rem;
    width: 14rem;
    min-height: 6rem;
    border: 0.2rem solid #37373a;
}
.container{
    background-color: #2F3032;
    display: flex;
    border-radius: 2rem;
    max-width: 25rem;
    width: 25rem;
    min-height: 10rem;
    border: 0.2rem solid #37373a;
}
#dialog-canvas{
    margin-top: 5rem;
}
.buttons{
    gap: 1rem;
    display: flex;
    margin: 2rem;
    justify-content: center;
}
#dialog-delete{
    background-color: #2F3032;
    color: white;
    border: none;
    border: 0.01rem red solid;
    border-radius: 1.5rem;
    width: 15rem;
    height: 4rem;
    font-size: 2.1rem;
    cursor: pointer;
    transition: all 0.5s;
}
#dialog-delete:hover{
    background-color: rgb(223, 1, 1);
}
.small-dialog-btn{
    background-color: #2F3032;
    color: white;
    border: none;
    border-radius: 1.5rem;
    width: 5rem;
    height: 4rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.5s;
}
#dialog-dnf{
    width: 6rem;
}
#dialog-pluss-two:hover{
    background-color: #262729;
}


@media only screen and (max-width: 1320px) {
    #last-scramble{
        display: none;
    }
    .tools{
        justify-content: space-around;
        align-content: flex-end;
    }
    .tools .tool-container{
        width: 45%;
    }
} 
@media only screen and (max-height: 760px) {
    .time-and-scramble #scramble{
        font-size: 4rem;
        margin: 0;
        margin-top: 0rem;
        height: 9rem;
    }
    .time-and-scramble #timer{
        font-size: 5rem;
        margin: 0;
        margin-top: 0rem;
    }
    .tools{
        margin-top: auto;
        margin-bottom: 4rem;
    }
    .tools .tool-container{
        margin-top: 4rem;
        border-radius: 2rem;
        height: 50vh
    }
} 
@media only screen and (max-height: 590px) {
    .time-and-scramble #scramble{
        font-size: 3rem;
        height: 7rem;
    }
    .time-and-scramble #timer{
        font-size: 4rem;
    }
    .tools{
        margin-bottom: 2rem;
    }
    .tools .tool-container{
        height: 55vh;
    }
    #table-container{
        font-size: 2rem;
    }
    header h2{
        font-size: 1rem;
        margin-top: 2.3rem;
    }
    svg{
        width: 8rem;
    }
} 
@media only screen and (max-width: 884px) {
    .time-and-scramble #scramble{
        font-size: 2.5rem;
        height: 10rem;
    }
    .time-and-scramble #timer{
        font-size: 3rem;
    }
    #last-scramble{
        display: none;
    }
    #draw-scramble{
        display: none;
    }
    .tools{
        justify-content: space-around;
        align-content: flex-end;
        margin-bottom: 2rem;
    }
    .tools .tool-container{
        width: 80%;
    }
} 
@media only screen and (max-width: 375px) {
    header h2{
        font-size: 1.2rem;
        margin-top: 2.5rem;
    }
    svg{
        width: 10rem;
    }
}

@media only screen and (max-width: 440px) {
    #table-container{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 370px) {
    #table-container{
        font-size: 1.5rem;
    }
}